.about {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 52px 24px;
}

.about > div:first-child {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.about > div:first-child h2 {
  font-size: 2rem;
  color: #eee;
  font-weight: 600;
  margin-bottom: 24px;
}

.about > div:first-child p {
  color: #eee;
  line-height: 24px;
  margin-bottom: 24px;
}

.about > div:last-child {
  width: 100%;
  height: 255px;
  position: relative;
}

.about > div:last-child::after {
  content: "";
  position: absolute;
  background-color: #f7bc3e;
  bottom: 0;
  top: 25%;
  left: 50px;
  right: 50px;
  border-radius: 15px;
}

.about > div:last-child img {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
}

/* tablet size */
@media screen and (min-width: 427px) {
  .about {
    flex-direction: row;
  }

  .about > div:first-child {
    text-align: left;
  }
}

/* pc size */
@media screen and (min-width: 1024px) {
  .about {
    padding: 144px 24px;
  }
}
