.header {
  width: 100%;
  padding: 24px 20px;
  background-color: rgba(22, 22, 22, 0.95);
  color: #eee;
  z-index: 999;
  opacity: 1;
}

.container {
  max-width: 1033px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  width: 80%;
  display: flex;
  align-items: center;
}

.logo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #3b76f2;
  border-radius: 100%;
  margin-right: 8px;
  overflow: hidden;
}

.logo > div > img {
  margin-top: 20px;
  width: 130%;
}

.logo > h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: fade 0.3s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
