.projects {
  width: 100%;
  padding: 80px 24px;
}

.projects h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #eee;
  text-align: center;
  margin-bottom: 24px;
}

.projects > div {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* talbet size */
@media screen and (min-width: 427px) {
  .projects > div {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* pc size */
@media screen and (min-width: 1024px) {
  .projects {
    padding: 80px 24px 114px;
  }

  .projects h2 {
    margin: 64px 0 52px;
  }

  .projects > div:nth-child(2) {
    display: none;
  }
}
